@{

    ViewData["Title"] = "Uploading XML";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@{
    <h1>Upload your XML file</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="Product" asp-action="UploadXml">
        <div class="form-group">
            <label>Select XML File:</label>
            <input type="file" name="file" class="form-control" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Upload and Validate</button>
    </form>
    @if (ViewBag.Message != null)
    {
        <div class="alert @(ViewBag.Message.Contains("invalid") ? "alert-danger" : "alert-success") mt-3">
            @ViewBag.Message
        </div>
    }
}
